.container {
    position: relative;
    width: 90%;
    margin: auto;
}

.card {
    background-image:linear-gradient(to right, #e41d27, #b81d24);
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.card-body {
    justify-content: center;
    border: none;

    input {
        background-image:linear-gradient(to right, #e4484e, #c7484d );
        border: none;
        border-radius: 5px;
        color: white;
        line-height: 2rem;
        padding-left: 2.2rem;
        width: 60%;
        outline: none;
    }
    input::placeholder {
        color: white;
    }
}

.picture {
    position: absolute;
    top: 1.8rem;
    height: 2rem;
    margin: 0;
    padding-left: 0.5rem;
}

.sutvarkyti {
    position: absolute;
    width: 100%;
}